.App {
  text-align: left;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
  position: left;
}

.App-link {
  color: #61dafb;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

div.container {
  width:500px;
  margin: auto;
  border: none;
  align-items: right;

}


.footer {
  position: absolute;
  text-align: left;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  padding:10px solid;
}
.footerp{
  color:#ccc;
}
.form-horizontal .control-label{
  text-align:left !important; 
}
